<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Política de Cookies</title>
</head>
<body>
    <h1>Política de Cookies</h1>
        <div class="cookie-policy">
        <p>
            <strong>¿En qué casos específicos no es obligatorio informar o pedir consentimiento previo para el uso de cookies según el RGPD?</strong>
        </p>
        <p>
            Según el RGPD, no es obligatorio informar o pedir consentimiento previo para el uso de cookies en casos como:
            <ul>
                <li>La transmisión de comunicaciones en la red.</li>
                <li>Prestar un servicio solicitado por el usuario, como un inicio de sesión.</li>
                <li>Guardar configuraciones de usuario, como las preferencias de accesibilidad.</li>
                <li>Garantizar la seguridad de los usuarios, como la protección de una cuenta.</li>
            </ul>
        </p>

        <p>
            <strong>Si un sitio web utiliza cookies analíticas de terceros, ¿qué pasos debe seguir para cumplir con el RGPD?</strong>
        </p>
        <p>
            Para cumplir con el RGPD al usar cookies analíticas de terceros, un sitio web debe:
        </p>
        <ol>
            <li>Evaluar los riesgos.</li>
            <li>Implementar medidas de seguridad.</li>
            <li>Designar a un Delegado de Protección de Datos.</li>
            <li>Obtener el consentimiento de las personas.</li>
            <li>Establecer mecanismos de respuesta a usuarios.</li>
            <li>Notificar brechas de seguridad.</li>
            <li>Documentar el cumplimiento.</li>
        </ol>
    </div>
    <div style="margin-bottom: 15px">
        <a href="{{ url_for('index') }}">Volver al inicio</a> <br>
    </div>

    <img src="{{ url_for('static', filename='meme.jpg') }}" alt="Meme" style="width:400px; height:auto;">

</body>
</html>

